  <% if @candidate.current_application.draft? %>
    <%= govuk_button_to(
      'View current draft application',
      candidate_interface_application_form_path,
      class: 'govuk-!-margin-bottom-5', method: :get,
    ) %>
  <% else %>
    <p class="govuk-body">You can have up to 5 applications in progress at any one time.</p>

    <%= govuk_button_to(
      'Start another application',
      candidate_interface_apply_again_path,
      class: 'govuk-!-margin-bottom-5',
    ) %>
  <% end %>
